source: CLOUD_PRODUCTION_SHARD1
target: SLING_DB_SHARD1
defaults: 
  mode: incremental
  object: '{stream_table}'
  update_key: id

streams: 
  public.event_logs_view: 
    sql: >
      with candidates as (
        select * 
        from public.event_logs_partitioned 
        where id > coalesce({incremental_value}, 0) and dagster_event_type is not null
        order by timestamp
        limit 500000
      )
      select * from candidates
    meta:
      dagster: 
        asset_key: sling.cloud_product_shard1.event_logs
    object: cloud_product_shard1.event_logs
